.page-transition-mask {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--token-color-primary-base);
  will-change: transform;
  transform: translateY(-100%);
}

.page-transition-enter {
  //transform-origin: center top;
  //opacity: 0;
  //transform: rotate3d(1, 0, 0, -20deg);

  .page-transition-mask {
    //transition: transform 500ms;
    transform: translateY(0);
  }
}

.page-transition-enter-active {
  //opacity: 1;
  //transform: rotate3d(1, 0, 0, 0);
  //transition: opacity 300ms, transform 500ms;

  .page-transition-mask {
    transition: transform 500ms;
    transform: translateY(-100%);
  }
}

.page-transition-exit {
  //opacity: 1;
  //transform: scale(1);

  .page-transition-mask {
    transform: translateY(-100%);
  }
}

.page-transition-exit-active {
  //opacity: 0;
  //transform: scale(0.7) rotateZ(20deg);
  //transition: opacity 500ms, transform 500ms;

  .page-transition-mask {
    transition: transform 500ms;
    transform: translateY(0);
  }
}

.page-transition-mask {
}
